# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.pyl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.sql
*.sqlite3
media/
static/
.DS_Store

# IDEs
.idea/
.vscode/

# Operating System stuff
.DS_Store
.Trashes
Thumbs.db

# Documents et Textes (on ignore tout sauf les README)
*.txt
*.md
!README.md
*.pdf

# Postman (exclu de Git)
postman/

# Spécifiques Python et divers
code.py
.DS_Store
.Trashes
Thumbs.db
dia_classe.txt
Diagramme de packages.txt
notes.txt
reponse_mario.txt
reponse_paola.txt
JOURNAL_DE_BORD.txt
PLANNING.pdf
